---
title: BangumiN
---
<!doctype html>
<html>
{% include head.html %}

<body>


<div class="landing-page container">

  <div class="row landing-page-body">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
      <img src="/assets/images/showcase/landing.png" class="img-fluid" id="landing-img"
           alt="App image"/>

    </div>

    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column">
        <h3 class="mdc-typography--headline3">BangumiN</h3>
        <h6 class="mdc-typography--headline6">一款功能完备的Bangumi客户端</h6>
        <div class="mdc-typography--subtitle1">现已开放内测</div>
        <a href="http://play.google.com" rel="noopener noreferrer" target="_blank"
           class="mdc-typography--headline5">
          查看详情
        </a>
      </div>
    </div>

  </div>

  {% include footer.html %}

</div>


<div>

</div>



</body>
</html>

