
<footer class="d-flex flex-column justify-content-center">
  <div class="d-flex justify-content-end">
    <a href="/about" rel="noopener noreferrer"
       class="mr-2 mr-md-3 mr-lg-5 no-decoration-anchor">关于</a>
    <a href="/help"
       class="mr-2 mr-md-3 mr-lg-5 no-decoration-anchor">帮助</a>
    <a href="/privacy" rel="noopener noreferrer"
       class="mr-2 mr-md-3 mr-lg-5 no-decoration-anchor">隐私</a>
    <a href="/tos" rel="noopener noreferrer"
       class="mr-2 mr-md-3 mr-lg-5 no-decoration-anchor">服务条款</a>
  </div>
</footer>
